# coding: utf-8

"""
    Future Vuls Public API

    Future Vuls Public API  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr, conint

from typing import Optional

from openapiclient.models.group_set_server_get_group_set_server_detail_by_uuid_response_body import GroupSetServerGetGroupSetServerDetailByUUIDResponseBody
from openapiclient.models.group_set_server_get_group_set_server_detail_response_body import GroupSetServerGetGroupSetServerDetailResponseBody
from openapiclient.models.group_set_server_get_group_set_server_list_response_body import GroupSetServerGetGroupSetServerListResponseBody

from openapiclient.api_client import ApiClient
from openapiclient.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class GroupSetServerApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def group_set_server_get_group_set_server_detail(self, server_id : Annotated[StrictInt, Field(..., description="Server ID")], **kwargs) -> GroupSetServerGetGroupSetServerDetailResponseBody:  # noqa: E501
        """getGroupSetServerDetail groupSetServer  # noqa: E501

        group set server detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_detail(server_id, async_req=True)
        >>> result = thread.get()

        :param server_id: Server ID (required)
        :type server_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetServerGetGroupSetServerDetailResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_server_get_group_set_server_detail_with_http_info(server_id, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_server_get_group_set_server_detail_with_http_info(self, server_id : Annotated[StrictInt, Field(..., description="Server ID")], **kwargs):  # noqa: E501
        """getGroupSetServerDetail groupSetServer  # noqa: E501

        group set server detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_detail_with_http_info(server_id, async_req=True)
        >>> result = thread.get()

        :param server_id: Server ID (required)
        :type server_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetServerGetGroupSetServerDetailResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'server_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_server_get_group_set_server_detail" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['server_id']:
            _path_params['serverID'] = _params['server_id']

        # process the query parameters
        _query_params = []

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))

        # process the form parameters
        _form_params = []
        _files = {}

        # process the body parameter
        _body_params = None

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetServerGetGroupSetServerDetailResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/server/{serverID}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def group_set_server_get_group_set_server_detail_by_uuid(self, server_uuid : Annotated[StrictStr, Field(..., description="Server UUID")], **kwargs) -> GroupSetServerGetGroupSetServerDetailByUUIDResponseBody:  # noqa: E501
        """getGroupSetServerDetailByUUID groupSetServer  # noqa: E501

        group set server detail by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_detail_by_uuid(server_uuid, async_req=True)
        >>> result = thread.get()

        :param server_uuid: Server UUID (required)
        :type server_uuid: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetServerGetGroupSetServerDetailByUUIDResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_server_get_group_set_server_detail_by_uuid_with_http_info(server_uuid, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_server_get_group_set_server_detail_by_uuid_with_http_info(self, server_uuid : Annotated[StrictStr, Field(..., description="Server UUID")], **kwargs):  # noqa: E501
        """getGroupSetServerDetailByUUID groupSetServer  # noqa: E501

        group set server detail by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_detail_by_uuid_with_http_info(server_uuid, async_req=True)
        >>> result = thread.get()

        :param server_uuid: Server UUID (required)
        :type server_uuid: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetServerGetGroupSetServerDetailByUUIDResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'server_uuid'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_server_get_group_set_server_detail_by_uuid" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['server_uuid']:
            _path_params['serverUuid'] = _params['server_uuid']

        # process the query parameters
        _query_params = []

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))

        # process the form parameters
        _form_params = []
        _files = {}

        # process the body parameter
        _body_params = None

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetServerGetGroupSetServerDetailByUUIDResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/server/uuid/{serverUuid}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def group_set_server_get_group_set_server_list(self, page : Annotated[Optional[conint(strict=True, ge=1)], Field(description="Page Number")] = None, limit : Annotated[Optional[conint(strict=True, le=1000, ge=1)], Field(description="Limit")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="Offset")] = None, filter_cve_id : Annotated[Optional[StrictStr], Field(description="CveID filter")] = None, filter_role_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerRoleID filter")] = None, filter_tag_name : Annotated[Optional[StrictStr], Field(description="ServerTagName filter")] = None, **kwargs) -> GroupSetServerGetGroupSetServerListResponseBody:  # noqa: E501
        """getGroupSetServerList groupSetServer  # noqa: E501

        group set server list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_list(page, limit, offset, filter_cve_id, filter_role_id, filter_tag_name, async_req=True)
        >>> result = thread.get()

        :param page: Page Number
        :type page: int
        :param limit: Limit
        :type limit: int
        :param offset: Offset
        :type offset: int
        :param filter_cve_id: CveID filter
        :type filter_cve_id: str
        :param filter_role_id: ServerRoleID filter
        :type filter_role_id: int
        :param filter_tag_name: ServerTagName filter
        :type filter_tag_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetServerGetGroupSetServerListResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_server_get_group_set_server_list_with_http_info(page, limit, offset, filter_cve_id, filter_role_id, filter_tag_name, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_server_get_group_set_server_list_with_http_info(self, page : Annotated[Optional[conint(strict=True, ge=1)], Field(description="Page Number")] = None, limit : Annotated[Optional[conint(strict=True, le=1000, ge=1)], Field(description="Limit")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="Offset")] = None, filter_cve_id : Annotated[Optional[StrictStr], Field(description="CveID filter")] = None, filter_role_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerRoleID filter")] = None, filter_tag_name : Annotated[Optional[StrictStr], Field(description="ServerTagName filter")] = None, **kwargs):  # noqa: E501
        """getGroupSetServerList groupSetServer  # noqa: E501

        group set server list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_server_get_group_set_server_list_with_http_info(page, limit, offset, filter_cve_id, filter_role_id, filter_tag_name, async_req=True)
        >>> result = thread.get()

        :param page: Page Number
        :type page: int
        :param limit: Limit
        :type limit: int
        :param offset: Offset
        :type offset: int
        :param filter_cve_id: CveID filter
        :type filter_cve_id: str
        :param filter_role_id: ServerRoleID filter
        :type filter_role_id: int
        :param filter_tag_name: ServerTagName filter
        :type filter_tag_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetServerGetGroupSetServerListResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'page',
            'limit',
            'offset',
            'filter_cve_id',
            'filter_role_id',
            'filter_tag_name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_server_get_group_set_server_list" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))
        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))
        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))
        if _params.get('filter_cve_id') is not None:  # noqa: E501
            _query_params.append(('filterCveID', _params['filter_cve_id']))
        if _params.get('filter_role_id') is not None:  # noqa: E501
            _query_params.append(('filterRoleID', _params['filter_role_id']))
        if _params.get('filter_tag_name') is not None:  # noqa: E501
            _query_params.append(('filterTagName', _params['filter_tag_name']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))

        # process the form parameters
        _form_params = []
        _files = {}

        # process the body parameter
        _body_params = None

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetServerGetGroupSetServerListResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/servers', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
