# coding: utf-8

"""
    Future Vuls Public API

    Future Vuls Public API  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""


import re  # noqa: F401

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr, conint

from typing import Optional

from openapiclient.models.group_set_pkg_cpe_get_group_set_cpe_detail_response_body import GroupSetPkgCpeGetGroupSetCpeDetailResponseBody
from openapiclient.models.group_set_pkg_cpe_get_group_set_pkg_cpe_list_response_body import GroupSetPkgCpeGetGroupSetPkgCpeListResponseBody
from openapiclient.models.group_set_pkg_cpe_get_group_set_pkg_detail_response_body import GroupSetPkgCpeGetGroupSetPkgDetailResponseBody

from openapiclient.api_client import ApiClient
from openapiclient.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class GroupSetPkgCpeApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_cpe_detail(self, cpe_id : Annotated[StrictInt, Field(..., description="cpe ID")], **kwargs) -> GroupSetPkgCpeGetGroupSetCpeDetailResponseBody:  # noqa: E501
        """getGroupSetCpeDetail groupSetPkgCpe  # noqa: E501

        group set cpe detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_cpe_detail(cpe_id, async_req=True)
        >>> result = thread.get()

        :param cpe_id: cpe ID (required)
        :type cpe_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetPkgCpeGetGroupSetCpeDetailResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_pkg_cpe_get_group_set_cpe_detail_with_http_info(cpe_id, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_cpe_detail_with_http_info(self, cpe_id : Annotated[StrictInt, Field(..., description="cpe ID")], **kwargs):  # noqa: E501
        """getGroupSetCpeDetail groupSetPkgCpe  # noqa: E501

        group set cpe detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_cpe_detail_with_http_info(cpe_id, async_req=True)
        >>> result = thread.get()

        :param cpe_id: cpe ID (required)
        :type cpe_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetPkgCpeGetGroupSetCpeDetailResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'cpe_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_pkg_cpe_get_group_set_cpe_detail" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['cpe_id']:
            _path_params['cpeID'] = _params['cpe_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetPkgCpeGetGroupSetCpeDetailResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/pkgCpe/cpe/{cpeID}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_pkg_cpe_list(self, page : Annotated[Optional[conint(strict=True, ge=1)], Field(description="Page Number")] = None, limit : Annotated[Optional[conint(strict=True, le=1000, ge=1)], Field(description="Limit")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="Offset")] = None, filter_cve_id : Annotated[Optional[StrictStr], Field(description="CveID filter")] = None, filter_task_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="TaskID filter")] = None, filter_server_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerID filter")] = None, filter_role_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerRoleID filter")] = None, **kwargs) -> GroupSetPkgCpeGetGroupSetPkgCpeListResponseBody:  # noqa: E501
        """getGroupSetPkgCpeList groupSetPkgCpe  # noqa: E501

        group set pkgCpe list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_pkg_cpe_list(page, limit, offset, filter_cve_id, filter_task_id, filter_server_id, filter_role_id, async_req=True)
        >>> result = thread.get()

        :param page: Page Number
        :type page: int
        :param limit: Limit
        :type limit: int
        :param offset: Offset
        :type offset: int
        :param filter_cve_id: CveID filter
        :type filter_cve_id: str
        :param filter_task_id: TaskID filter
        :type filter_task_id: int
        :param filter_server_id: ServerID filter
        :type filter_server_id: int
        :param filter_role_id: ServerRoleID filter
        :type filter_role_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetPkgCpeGetGroupSetPkgCpeListResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_pkg_cpe_get_group_set_pkg_cpe_list_with_http_info(page, limit, offset, filter_cve_id, filter_task_id, filter_server_id, filter_role_id, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_pkg_cpe_list_with_http_info(self, page : Annotated[Optional[conint(strict=True, ge=1)], Field(description="Page Number")] = None, limit : Annotated[Optional[conint(strict=True, le=1000, ge=1)], Field(description="Limit")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="Offset")] = None, filter_cve_id : Annotated[Optional[StrictStr], Field(description="CveID filter")] = None, filter_task_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="TaskID filter")] = None, filter_server_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerID filter")] = None, filter_role_id : Annotated[Optional[conint(strict=True, ge=1)], Field(description="ServerRoleID filter")] = None, **kwargs):  # noqa: E501
        """getGroupSetPkgCpeList groupSetPkgCpe  # noqa: E501

        group set pkgCpe list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_pkg_cpe_list_with_http_info(page, limit, offset, filter_cve_id, filter_task_id, filter_server_id, filter_role_id, async_req=True)
        >>> result = thread.get()

        :param page: Page Number
        :type page: int
        :param limit: Limit
        :type limit: int
        :param offset: Offset
        :type offset: int
        :param filter_cve_id: CveID filter
        :type filter_cve_id: str
        :param filter_task_id: TaskID filter
        :type filter_task_id: int
        :param filter_server_id: ServerID filter
        :type filter_server_id: int
        :param filter_role_id: ServerRoleID filter
        :type filter_role_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetPkgCpeGetGroupSetPkgCpeListResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'page',
            'limit',
            'offset',
            'filter_cve_id',
            'filter_task_id',
            'filter_server_id',
            'filter_role_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_pkg_cpe_get_group_set_pkg_cpe_list" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        if _params.get('filter_cve_id') is not None:  # noqa: E501
            _query_params.append(('filterCveID', _params['filter_cve_id']))

        if _params.get('filter_task_id') is not None:  # noqa: E501
            _query_params.append(('filterTaskID', _params['filter_task_id']))

        if _params.get('filter_server_id') is not None:  # noqa: E501
            _query_params.append(('filterServerID', _params['filter_server_id']))

        if _params.get('filter_role_id') is not None:  # noqa: E501
            _query_params.append(('filterRoleID', _params['filter_role_id']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetPkgCpeGetGroupSetPkgCpeListResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/pkgCpes', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_pkg_detail(self, pkg_id : Annotated[StrictInt, Field(..., description="PackageID")], **kwargs) -> GroupSetPkgCpeGetGroupSetPkgDetailResponseBody:  # noqa: E501
        """getGroupSetPkgDetail groupSetPkgCpe  # noqa: E501

        group set pkg detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_pkg_detail(pkg_id, async_req=True)
        >>> result = thread.get()

        :param pkg_id: PackageID (required)
        :type pkg_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GroupSetPkgCpeGetGroupSetPkgDetailResponseBody
        """
        kwargs['_return_http_data_only'] = True
        return self.group_set_pkg_cpe_get_group_set_pkg_detail_with_http_info(pkg_id, **kwargs)  # noqa: E501

    @validate_arguments
    def group_set_pkg_cpe_get_group_set_pkg_detail_with_http_info(self, pkg_id : Annotated[StrictInt, Field(..., description="PackageID")], **kwargs):  # noqa: E501
        """getGroupSetPkgDetail groupSetPkgCpe  # noqa: E501

        group set pkg detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.group_set_pkg_cpe_get_group_set_pkg_detail_with_http_info(pkg_id, async_req=True)
        >>> result = thread.get()

        :param pkg_id: PackageID (required)
        :type pkg_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GroupSetPkgCpeGetGroupSetPkgDetailResponseBody, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'pkg_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_set_pkg_cpe_get_group_set_pkg_detail" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['pkg_id']:
            _path_params['pkgID'] = _params['pkg_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'application/gob'])  # noqa: E501

        # authentication setting
        _auth_settings = ['api_key_header_Authorization']  # noqa: E501

        _response_types_map = {
            '200': "GroupSetPkgCpeGetGroupSetPkgDetailResponseBody",
        }

        return self.api_client.call_api(
            '/v1/groupSet/pkgCpe/pkg/{pkgID}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
